<div class="row">
  <h1>Bem vindo ao Mashup Generator da Toca do Dragão!!!</h1>
</div>

<div style="padding: 20px;">
  <div class="row">
    <div class="col-sm-12">
      <div class="form-group form-float">
        <div class="form-line">
          <label for="personagem" class="form-label">Seu personagem</label>
          <input type=text id="personagem" name="personagem" [(ngModel)]="_mashupService.personagem" required
            maxlength="256" placeholder="Escolha um personagem!" minlength="1" class="validate form-control"
            autocomplete="off">
        </div>
      </div>
    </div>
  </div>

  <div class="row" style="margin-top: 10px;">
    <div class="col-4">
      <button type="button" class="btn btn-primary" style="margin-top: 5px;" (click)="dice_d10.rollDiceD10()">
        Roll d10!
      </button>
      <dice-d10 #dice_d10></dice-d10>
    </div>
    <div class="col-4">
      <button type="button" class="btn btn-success" style="margin-top: 5px;" (click)="dice_d20.rollDiceD20()">
        Roll d20!
      </button>
      <dice-d20 #dice_d20></dice-d20>
    </div>
    <div class="col-4">
      <button type="button" class="btn btn-danger" style="margin-top: 5px;" (click)="dice_d6.rollDiceD6()">
        Roll d6!
      </button>
      <dice-d6 #dice_d6></dice-d6>
    </div>
  </div>

  <div class="row" style="margin-top: 10px;" *ngIf="_mashupService.escolhidos.length > 0">
    <div class="col-12">
      <h5>Escolhidos:</h5>
      <ul *ngFor="let item of _mashupService.escolhidos">
        <li>{{item}}</li>
      </ul>
    </div>
  </div>

  <div class="row" style="margin-top: 10px;" *ngIf="_mashupService.showConstrucao">
    <div class="col-12">
      <h5>Seu personagem deverá ter:</h5>
      <ul>
        <li>Os poderes de {{_mashupService.poder_1}} e {{_mashupService.poder_2}}</li>
        <li>As fraquezas de {{_mashupService.fraqueza_1}} e {{_mashupService.fraqueza_2}}</li>
        <li>A personalidade de {{_mashupService.personalidade_1}} e {{_mashupService.personalidade_2}}</li>
      </ul>
    </div>
  </div>

</div>